<div class="layout-wrapper menu-layout-static">
    <div class="topbar clearfix">
        <div class="topbar-left">
            <div class="logo"></div>
        </div>

        <div class="topbar-right">

        </div>
    </div>

    <form id="menuform" name="menuform" method="post" action="/ultima/sample.xhtml" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="menuform" value="menuform" />

        <div class="layout-menu ">
        </div>
    </form>

    <div class="layout-main">
        <router-outlet></router-outlet>
    </div>
</div>


